<!-- Carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/Casousel/Web Banner.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/Casousel/C0132_resize.gif" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- carousel end -->
