  .social {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease;
  }

  .social:hover {
    transform: scale(1.05);
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  
  .divider:not(:empty)::before {
    margin-right: .75em;
  }
  
  .divider:not(:empty)::after {
    margin-left: .75em;
  }
