<div class="divider">Follow Us</div>

<!-- Social Links -->

<div class="text-center">
    <a href="https://www.facebook.com/ashtanafashion" class="p-2" target="_blank"><img src="assets/Social/social.png"
            alt="facebook" class="social"></a>
    <a href="https://www.instagram.com/ashtanafashion" class="p-2" target="_blank"><img
            src="assets/Social/instagram.png" alt="" class="social"></a>
    <a href="https://x.com/i/flow/login?redirect_after_login=%2FAshtanaCa" class="p-2" target="_blank"><img
            src="assets/Social/twitter.png" alt="" class="social"></a>
    <a href="https://www.youtube.com/@AshtanaFashion" class="p-2" target="_blank"><img src="assets/Social/youtube.png"
            alt="" class="social"></a>
    <a href="https://www.pinterest.com/ashtanafashion/" class="p-2" target="_blank"><img
            src="assets/Social/pinterest.png" alt="" class="social"></a>
    <a href="https://www.tiktok.com/@ashtana.fashion" class="p-2" target="_blank"><img src="assets/Social/tiktok.png"
            alt="" class="social"></a>

</div>
