.container{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5rem;
    padding-left: 5rem;
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
}