<div class="container">

<h2>About Us</h2>

<p>
    <b>Ashtana</b> <i> (Bengali: আস্তানা)</i> is a Bengali word meaning ''safe place.'' Like the name, it's a fashion brand representing a society that includes Gen Z and Gen Y, regardless of their location, ethnicity, size, and sexual orientation. Our business model is built on four pillars:
</p>

<ul>
    <li>Cost-effective products that are both useful and stylish.</li>
    <li>Fast delivery for customer convenience.</li>
    <li>Unique product designs that stand out.</li>
    <li>Involving people across Canada to represent our brand and earn through our platform.</li>
</ul>

<p>After the pandemic, shopping behavior changed, with more customers turning to online platforms. Yet, rural Canada and remote areas remain underserved by most fashion brands. Getting stylish, affordable clothing delivered quickly is crucial for these regions. Additionally, choosing the right products online is often challenging, especially without a way to see how items will look in real life.</p>

<p>Ashtana addresses these challenges by offering a user-friendly e-commerce website and mobile apps where customers can virtually try on items using their device cameras, as though they're in a real-life store. We're also working on implementing augmented reality (AR) into our platforms. Our strategy involves local influencers and sales representatives to help grow the business nationwide while creating earning opportunities for the community. Like our brand name suggests, we want customers to feel safe, comfortable, and confident using our platform.</p>

<p>Launched in Manitoba in June 2024, Ashtana aims to expand across Canada using online platforms. We offer a wide range of products, including apparel, fashion accessories, jewelry, and leather goods, all sourced ethically and in an environmentally friendly manner. Our goal is to solve customer problems while helping them look good.</p>

<h2>Mission Statement</h2>

<p>Our mission is to deliver innovative, high-quality fashion goods that make people look and feel great. We focus on products that solve problems, making efficient use of online platforms while involving communities to create a better world.</p>

<h2>Vision Statement</h2>

<p>We envision a world like a piece of fabric where people connect as threads do in weaving. Our vision is driven by innovation, accessibility, and connection—bringing people together to make fashion affordable, environmentally friendly, and ethical.</p>

<h2>Core Values</h2>

<ul>
    <li><b>Design</b> is about solving problems by creating something useful.</li>
    <li><b>Fun at work</b> comes from passion and dedication.</li>
    <li><b>Respect</b> is vital—it's the foundation for healthy interaction.</li>
    <li><b>Clear Communication</b> simplifies connections.</li>
    <li><b>Care</b> for people and the environment is at the heart of everything we do.</li>
</ul>

</div>

<app-social></app-social>
