.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 250px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

  .price {
    font-weight: bold;
    font-size: larger;
  }
}
