<!-- Offer Bar -->
<hr>
<div id="topbar">
    New Here! Avail 10% off on your first order! Use Code: "ASH10"
</div>
<hr>

<!-- Sub-Category -->
<div class="d-flex justify-content-center mt-3">
    <a routerLink="products" class="sub-cat-links me-3">
        <span class="">
            <img src="assets/Category/c1.jpg" class="sub-cat-img"><br>
            <p style="font-weight: 500; text-align: center;">PRODUCTS</p>
        </span>
    </a>

    <a href="#" class="sub-cat-links me-3">
        <span class="">
            <img src="assets/Category/c6.jpg" class="sub-cat-img">
            <p style="font-weight: 500; text-align: center;">MEN</p>
        </span>
    </a>

    <a routerLink="women" class="sub-cat-links me-3">
        <span class="">
            <img src="assets/Category/c10.jpg" class="sub-cat-img">
            <p style="font-weight: 500; text-align: center;">WOMEN</p>
        </span>
    </a>

    <a href="#" class="sub-cat-links me-3">
        <span class="">
            <img src="assets/Category/c2.jpg" class="sub-cat-img">
            <p style="font-weight: 500; text-align: center;">JEWELRY</p>
        </span>
    </a>
</div>
<!-- Sub-category end -->