#topbar {
    /* background-color: black; */
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 400;
    justify-content: center;
    font-size: larger;
}

.sub-cat-img {
    height: 80px;
    width: 80px;
    border: 3px dashed rgb(48, 47, 47);
    border-radius: 100px;
    transition: transform 0.5s ease;
    padding: 2px;
}

.sub-cat-links {
    text-decoration: none;
    color: black;
}


.sub-cat-img:hover {
    transform: scale(1.08);
}